<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strategy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">How to play?</a>
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Insert Code" aria-label="Insert Code">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Join Match</button>
            </form>
          </nav>


        <div class="jumbotron bg-dark text-white">
            <div class="row">
                <div class="col-6">
                    <h1 class="display-4 font-weight-bold">Map Heroes</h1>
                    <p class="lead">Map Heroes is a real-time multiplayer strategy online game. <br> Select your nation and fight with other players!</p>                    
                    <a href="/"><button type="button" class="btn btn-primary">Create a Match</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>