<div class="hero">
      <div class="title">
        Play now Strategy.
      </div>
      <input type="text" placeholder="Code" class="hover" id="inputJoin" maxlength="5" data-length="5">
  </div>
  <div class="row">
      <div class="col1 hover pointer">How to Play?</div>
      <div class="col2 hover pointer" id="clickCreate">Create</div>
  </div>
  <div class="matches" id="matches">
      <div class="title">Public Matches</div>

      <!-- <div class="match hover">
          <div class="code">CODICE</div>
          <div class="players">3/6</div>
          <div class="join pointer">JOIN</div>
      </div>
      <div class="match hover">
        <div class="code">CODICE</div>
        <div class="players">3/6</div>
        <div class="join pointer">JOIN</div>
    </div>
    <div class="match hover">
        <div class="code">CODICE</div>
        <div class="players">3/6</div>
        <div class="join pointer">JOIN</div>
    </div>
    <div class="match hover">
        <div class="code">CODICE</div>
        <div class="players">3/6</div>
        <div class="join pointer">JOIN</div>
    </div>
    <div class="match hover">
        <div class="code">CODICE</div>
        <div class="players">3/6</div>
        <div class="join pointer">JOIN</div>
    </div>
    <div class="match hover">
        <div class="code">CODICE</div>
        <div class="players">3/6</div>
        <div class="join pointer">JOIN</div>
    </div> -->
  </div>