<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strategy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">How to play?</a>
                <form action="/join" method="POST" class="form-inline">      
                    <input class="form-control mr-sm-2" name="code" type="text" placeholder="Insert Code" aria-label="Insert Code">
                    <input type='submit' class="btn btn-outline-primary my-2 my-sm-0">
                </form>
          </nav>
        <div class="jumbotron bg-dark text-white">
            <div class="row">
                <div class="col-6">
                    <h1 class="display-4 font-weight-bold">Map Heroes</h1>
                    <p class="lead">Map Heroes is a real-time multiplayer strategy online game. <br> Select your nation and fight with other players!</p>                    
                    <form action="/create" method="post" id="prova">
                        <input type="submit" name="create" value="Create a Match" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>

</div>


</body>
</html>