<center>
    <div class="mapContainer">
        <div id="map" class="map"></div>
    </div>
</center>

<div class="row">
    <div class="col1 hover pointer" id="shop"></div>
    <div class="col2 hover pointer" id="playersNum"></div>
</div>
<div style="margin: 10px 0 10px 0"></div>
<div class="matchGrid">

    <div id="leftGrid">
        <div id="playersNames"></div>
        <div id="alerts"></div>
    </div>

    <div id="troops">
        <div class="hover troop" style="background-color: var(--secondary); color: #fff">
            <b>Type</b> | Attack | Defense
        </div>
    </div>
</div>

