<div class="hero">
    <div id="username"></div>
    <div class="title" id="adminTitle">
      Wait for the Match to Start
    </div>
    <button class="start hover" id="start" style="display: none;">Start</button>
</div>
<div id="alerts">

</div>
<div class="row">
    <div class="col1 hover pointer" id="roomCode"></div>
    <div class="col2 hover pointer" id="playersNum"></div>
</div>
<div class="matches">
    <div class="title">Players</div>
<div id="playersNames">
    
</div>

</div>
<div id="leave" class="leave hover pointer"><i class="gg-arrow-left"></i></div>