    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= roomCode %> | Map Heroes</title>
    <link rel="stylesheet" href="/css/map.css">
    <style>
        .btn {margin-right: 5px}
    </style>
    <script src="/socket.io/socket.io.js"></script>    
    <script src="/scripts/script.js"></script> 
    <script src="/scripts/map.js"></script>