
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">How to play?</a>
          </nav>


        <div class="jumbotron bg-dark text-white">
            <div id="alerts"></div>
            <div class="row">
                <div class="col-6">
                    <h1 class="display-4 font-weight-bold"><div id="roomCode"></div></h1>
                    <p class="lead d-inline">Your username is <div id="username"></div></p>  
                    <div id="alerts"></div>                  
                    <button type="button" class="btn btn-primary" style="display: none;" id="start">Start Now!</button>
                    <button type="button" class="btn btn-danger"><span id="playersNum"></span>/6</button>
                </div>
            </div>
            <hr>
            <div id="playersNames"></div>
            <hr>
            <center>
                <div class="mapContainer">

                    <div class="map" id="map">
                    </div>

                </div>
            </center>
        </div>
    </div>