
:root {
    --secondary: #DB0A40;
    --light: #fff;
    --dark: #000;
    --panel: #fff;
    --bg: #fff; 
    --shadow:rgba(25.000000409781933, 32.00000189244747, 56.000000461936, 0.10000000149011612);
    --font-big: 2.5vw;
    --font-medium: 1.5vw;
    --font-small: 1.3vw;
    --margin: 15%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html {
    /* height: 100%; */
    font-family: 'DM Sans', sans-serif;
}
html, body {
min-height: 100%;
background-color: var(--bg);
/* height: 100vh; */
}
/* banner */
.banner {
    background-color: var(--secondary);
    position: absolute;
    top: 0;
    height: 250px;
    width: 100%;
    z-index: -1;
}
/* main */
main {
    margin: 0 var(--margin) 0 var(--margin);
    /* position: relative; */
    min-height: 100vh;
}
/* HOVER */
.hover { transition: all .1s ease-in-out;}
.hover:hover { transform: scale(1.02); }
/* POINTER */
.pointer:hover { cursor: pointer; }
/* A */
a { text-decoration: none; color: inherit; font-weight: bold;}
/* Leave */
.leave {
    position: absolute;
    top: 7px;
    left: 7px;
    background-color: var(--panel);
    box-shadow:0px 8px 24px var(--shadow);
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    color: var(--dark);
}
/* Theme Switch */
.theme {
    position: absolute;
    top: 7px;
    right: 7px;
    background-color: var(--panel);
    box-shadow:0px 8px 24px var(--shadow);
    text-align: center;
    padding: 10px;
    color: var(--dark);
    border-radius: 20px;
}
/* Loadbar */
i.gg-loadbar {
    transform: scale(var(--ggs,2));
    color: var(--secondary)
}
.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);

}
/* hero */
.hero {
    margin-top: 100px;
    border-radius: 20px;
    background: var(--panel);
    box-shadow:0px 8px 24px var(--shadow);
    text-align: center;
    padding: 60px 0 60px 0;
    color: var(--dark) 
}
.hero .title {
    font-size: var(--font-big);
    font-weight: bold;
}
.hero input {
    font-size: var(--font-medium);
    text-align: center;
    border: none;
    margin-top: 20px;
    max-width: 93%;
    border-radius: 20px;
    box-shadow:0px 8px 24px var(--shadow);
    padding: 20px 100px 20px 100px;
    color: var(--dark);
    background-color: var(--panel);
}
.hero input::placeholder { color: #CFC7C7 }
/* cols */
.row {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
}
.col1 {
    background-color: var(--panel);
    color: var(--dark);
    border-radius: 20px;
    box-shadow:0px 8px 24px var(--shadow);
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: var(--font-medium);
    font-weight: bold;
}
.col2 {
    background-color: var(--secondary);
    color: #fff;
    border-radius: 20px;
    box-shadow:0px 8px 24px var(--shadow);
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: var(--font-medium);
    font-weight: bold;
}
/* Matches */
.matches {
    margin-top: 40px;
    text-align: center;
}
.matches .title {
    font-size: var(--font-medium);
    font-weight: bold; 
    margin-bottom: 30px; 
    color: var(--dark)
}
.matches .match {
    background-color: var(--panel);
    color: var(--dark);
    border-radius: 20px;
    box-shadow:0px 8px 24px var(--shadow);
    padding: 20px 0 20px 0;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 60% 10% 25%;
}
.matches .match .code {
    text-align: left;
    font-size: var(--font-small);
    font-weight: bold;
    padding: 5px 0 5px 100px;
}
.matches .match .players {
    border-radius: 20px;
    box-shadow:0px 8px 24px var(--shadow);
    font-size: var(--font-small);
    padding: 5px 0 5px 0;
    font-weight: bold;
}
.matches .match .join {
    background-color: var(--secondary);
    color: #fff;
    border-radius: 20px;
    box-shadow:0px 8px 24px var(--shadow);
    font-size: var(--font-small);
    padding: 5px 0 5px 0;
    font-weight: bold;
    margin-left: 5%;
}
/* Start Button */
.start {
    font-size: var(--font-medium);
    text-align: center;
    border: none;
    margin-top: 20px;
    border-radius: 20px;
    background-color: var(--secondary);
    box-shadow:0px 8px 24px var(--shadow);
    padding: 20px 100px 20px 100px;
    margin-right: auto;
    margin-left: auto;
    color: var(--light);
}
/* Alerts */
#alerts {
    margin: 15px 0 15px 0;
}
.alert {
    background-color: #2ecc71;
    color: var(--light);
    padding: 20px 25px 20px 25px;
    font-size: var(--font-medium);
    box-shadow:0px 8px 24px var(--shadow);
    border-radius: 20px;
    margin-bottom: 10px;
}
/* Footer */
.footer {
    clear: both;
    /* position: relative; */
    color: #fff;
    padding: 20px var(--margin) 20px var(--margin);
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--secondary);
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    /* transform: translateY(-100%); */
}
.footer .questions {
    text-align: right;
}

/* TROOPS */
.troops {
    background-color: var(--panel);
    color: var(--dark);
    border-radius: 20px;
    box-shadow:0px 8px 24px var(--shadow);
    padding: 20px 0 20px 0;
    margin-bottom: 10px;
}
.troop {
    background-color: var(--panel);
    color: var(--dark);
    border-radius: 20px;
    box-shadow:0px 8px 24px var(--shadow);
    padding: 20px 0 20px 20px;
    margin-bottom: 10px;
}
.matchGrid {
    display: grid;
    grid-template-columns: 70% auto;
    grid-column-gap: 15px;
}
.mapContainer {
    overflow-x: scroll;
    width: 100%;
}
/* PlayersNum */
.playersNum {
    position: absolute;
    bottom: 7px;
    left: 7px;
    background-color: var(--panel);
    box-shadow:0px 8px 24px var(--shadow);
    text-align: center;
    padding: 10px;
    color: var(--dark);
    border-radius: 20px;
}